.forum-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding-inline: 1rem;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
  margin-bottom: 1rem;
  border-bottom: 1px solid #8076a3;
}
